<a href="https://colab.research.google.com/github/UttaraKet1607/DASSA_Hackathon2/blob/main/DASSA_Hackathon2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv('/content/train_data.csv')

In [3]:
df

,Period Code,Cycle ID,B_2,B_3,B_4,B_5,B_9,B_10,B_14,B_15,...,B_18,B_19,B_20,B_21,B_22,B_23,B_24,B_25,timestamp,Good/Bad
0,1,1,-0.0007,-0.0004,100,518.67,14.62,21.61,1.3,47.47,...,8138.62,8.4195,0.03,392,2388,100,39.06,23.419,03/01/2020 00:00,0
1,1,3,-0.0043,0.0003,100,518.67,14.62,21.61,1.3,47.27,...,8133.23,8.4178,0.03,390,2388,100,38.95,23.3442,03/01/2020 00:10,0
2,1,4,0.0007,0,100,518.67,14.62,21.61,1.3,47.13,...,8133.83,8.3682,0.03,392,2388,100,38.88,23.3739,03/01/2020 00:15,0
3,1,5,-0.0019,-0.0002,100,518.67,14.62,21.61,1.3,47.28,...,8133.8,8.4294,0.03,393,2388,100,38.9,23.4044,03/01/2020 00:20,0
4,1,6,-0.0043,-0.0001,100,518.67,14.62,21.61,1.3,47.16,...,8132.85,8.4108,0.03,391,2388,100,38.98,23.3669,03/01/2020 00:25,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15169,NaN,179,0.0051,0.0003,100,518.67,14.62,21.61,1.3,47.96,...,8192.16,8.5057,0.03,395,2388,100,38.72,23.0613,4/17/2020 6:10,1
15170,NaN,186,-0.0034,-0.0003,100,518.67,14.62,21.61,1.3,47.67,...,I/O,8.477,0.03,395,I/O,100,38.72,23.2038,4/26/2020 16:15,0
15171,NaN,192,0.003,0.0001,100,518.67,14.62,21.61,1.3,47.54,...,8141.62,8.4528,0.03,393,2388,100,38.79,23.2335,04/01/2020 04:50,0
15172,NaN,198,-0.0044,0.0002,100,518.67,14.62,21.61,1.3,Missing,...,8143.48,8.4685,0.03,395,2388,100,38.79,23.2608,4/30/2020 21:25,0
15173,NaN,276,0.0009,-0.0005,100,518.67,14.62,21.61,1.3,47.8,...,8128.85,8.5025,0.03,395,2388,100,38.72,NaN,4/28/2020 13:35,1

In [4]:
df.shape

(15174, 22)

In [5]:
df.columns

Index(['Period Code', 'Cycle ID', 'B_2', 'B_3', 'B_4', 'B_5', 'B_9', 'B_10',
       'B_14', 'B_15', 'B_16', 'B_17', 'B_18', 'B_19', 'B_20', 'B_21', 'B_22',
       'B_23', 'B_24', 'B_25', 'timestamp', 'Good/Bad'],
      dtype='object')

In [6]:
df.dtypes

Period Code    object
Cycle ID       object
B_2            object
B_3            object
B_4            object
B_5            object
B_9            object
B_10           object
B_14           object
B_15           object
B_16           object
B_17           object
B_18           object
B_19           object
B_20           object
B_21           object
B_22           object
B_23           object
B_24           object
B_25           object
timestamp      object
Good/Bad        int64
dtype: object

In [7]:
df.isnull().sum()

Period Code    23
Cycle ID       33
B_2            38
B_3            33
B_4            33
B_5            31
B_9            32
B_10           40
B_14           33
B_15           39
B_16           34
B_17           34
B_18           34
B_19           28
B_20           29
B_21           29
B_22           28
B_23           24
B_24           36
B_25           35
timestamp       0
Good/Bad        0
dtype: int64